* {
  box-sizing: border-box;
}

.App {
  position: absolute;
  width: 100%;
  height: 100%;
}

#drum-machine {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: stretch;
  border: 2px solid black;
  background-color: lightgray;

}

#buttons {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#controls {
  width: 30%;
}

#display {
  display: block;
  width: 80%;
  margin: 20px auto;
  background-color: black;
  height: 25px;
  color: white;
  padding: 2px;
}

#volumeLabel {
  text-align: center;
  display: block;
  color: black;
  margin: 0  auto;
}
#volumeSlider {
  width: 80%;
  display: block;
  margin: 0  auto;
}